.hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.hero-background-carousel {
    position: absolute;
    inset: 0;
    z-index: 1;
    overflow: hidden;
}

.hero-image {
    position: absolute;
    width: 100%;
    height: 70%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    border-radius: 40px;
    /* вот тут магия округлости */
    overflow: hidden;
}

.hero-image.active {
    opacity: 1;
    z-index: 2;
}

.hero-content {
    position: relative;
    z-index: 3;
    max-width: 1200px;
    color: white;
    padding: 24px;
    text-align: left;
}

.hero-content h1 {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.2;
}

.hero-content p {
    font-size: 1.25rem;
    margin: 16px 0 24px;
}

.highlight {
    color: #8CFF4D;
    font-weight: bold;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.span_link {
    text-decoration: none;
    padding: 5px;
}

.tags span {
    padding: 8px 14px;
    background: white;
    color: black;
    border-radius: 999px;
    font-size: 0.875rem;
    font-weight: 500;
}

.tags .black {
    background: black;
    color: white;
}

/* Адаптивность */
@media (max-width: 1024px) {
    .hero-content h1 {
        font-size: 2.25rem;
    }

    .hero-content p {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .hero-content {
        text-align: center;
        padding: 16px;
    }

    .hero-content h1 {
        font-size: 1.75rem;
    }

    .hero-image {
        height: 75%;
    }

    .hero-content p {
        font-size: 0.9rem;
    }

    .tags {
        justify-content: center;
    }

    .hero-section {
        height: 90vh;
    }
}

@media (max-width: 480px) {
    .hero-content h1 {
        font-size: 1.5rem;
    }

    .hero-image {
        height: 80%;
    }

    .tags span {
        font-size: 0.75rem;
        padding: 6px 10px;
    }
}